.todo--form {
  grid-column: 2 / 3;
  grid-row: 6 / span 1;
  align-self: center;
  justify-self: center;
}

.todo--input {
  margin-right: 3rem;
  width: 15rem;
  height: 35px;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
  font-size: var(--input--box-fontsize);
  caret-color: var(--caret-colour)
}

.todo--input:focus,
.todo--input:hover {
  box-shadow: 0px 3px 3px -1px rgba(185, 22, 22, 0.5);
}

.todo--input:hover,
.todo--input:focus {
  outline: none !important;
  border: 1px solid #6e6f65;
}

.btn--form {
  cursor: pointer;
  font-size: calc(var(--input--box-fontsize) * 0.75);
  padding: 0.8em 1.6em;
  border-radius: var(--main--btn-radius);
  background: #428bca;
  border: #428bca;
  color: var(--title-colour);
  letter-spacing: var(--main--btn-letterSpacing);
  transition: background 0.3s;
}

.btn--form:hover,
.btn--form:focus {
  background: #1079d4;
}
